body {
    background-color: grey;
    color: beige;
}
/*navigation bar*/
.nav-bar {
    border: 2px solid black;
}

/*logo/brand name*/

.risky{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}


/*search bar*/
.search-bar{
    border: 2px solid black;
    padding: 10px;
}

.search-bar form{
    width: 50%;
}



/*add risk*/
.add-risk{
    border:2px solid black;
}